doctype html
html
  head
    title AP Config Server

    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0' crossorigin='anonymous')
  body
    .container 
      h1.text-center Quectel EC25/21 AP Config Server

      p.pt-4 These configurations are fully functional on RPI3 model B, B+ and 4 with RaspiOS and sixfab shields.
      br

      h2 QMI
      hr

      p
        | To be able to connect via QMI you must install the drivers first, this will restart your RPI.
        | You can found a manual guide on 
        a(href="https://sixfab.com/qmi-interface-with-sixfab-shields-hats/", target="_blank", rel="noopener noreferrer") sixfab.

      form(action="/install" method="get")
        button.btn.btn-success(type="submit") Install Drivers
      
      h3.pt-4 Simple Connection
      p 
        | If the connection is stablished, this command would be endless.
      form(action="/simple_qmi" method="post")
        label.form-label(for='apn') APN
        .row 
          .col 
            input#inputPassword5.form-control(type='text' aria-describedby='apn')
          .col
            button.btn.btn-primary(type="submit") Connect

      h3.pt-4 Auto Connect on reboot
      form(action="/auto_qmi" method="post")
        label.form-label(for='apn') APN
        .row 
          .col 
            input#inputPassword5.form-control(type='text' aria-describedby='apn')
          .col
            button.btn.btn-primary(type="submit") Set